body {
  width: 100%;
  height: 100%;
}

:root {
  --main-color1: #023047;
  --main-color2: #98C1D9;
  --main-color3: #E5E5E5;
  --main-color4: #EC8757;
  --sub-color1: #0D83AE;
  --sub-color2: #BBF085;
  --sub-color3: #F24726;
}
.dark:nth-child(1){
display: block;
}
.dark:nth-child(2){
display:none;
}
#moon.active:nth-child(1){
display: block;
}
#sun.active:nth-child(2){
display:none;
}










.border1 {

  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 70px;
  width: 90%;
  height: 90%;
  box-shadow: #0D83AE 10px;
  box-shadow: 4px 3px 8px 1px #E5E5E5;
transition: 1s;
}
.border1.active{
background-color: #023047;
}
.logo {
position: absolute;
margin-left: 2%;
width:7%;
display: block;
}
.logo1 {
position: absolute;
margin-left: 2%;
width:7%;
display:none;
}
.material-icons{
  position: absolute;
  left:95% ;
  top:2%;
  color: #0D83AE;
  cursor: pointer;  
  display: none;
}
#moon{
  position: absolute;
  left:95% ;
  top:2%;
  color: #0D83AE;
  cursor: pointer;
  display: none;
}
.yourname {
  font-size: 50px;
  position: absolute;
  left: 5%;
  bottom: 70%;
  color: #EC8757;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);    
  
}


.wtxt {
  position: absolute;
  left: 5%;
  top: 25%;
  text-align: justify;
  font-size: 25px;
  color: #023047;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);}
  .border1.active .wtxt{
    color :#E5E5E5
  }

.dropdown1 {
  width: 700px;
  height: 70px;
  border: 2px #0D83AE solid;
  border-radius: 20px;
  position: absolute;
  right: 25%;
  top: 55%;
  font-size: 30px;
  text-align: center;
  background-color:#0D83AE ;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
}
.border1.active .dropdown1{
  background-color :#EC8757
}
.border1.active  .startbtne{
  background :#EC8757
}
.border1.active  .startbtntec{
  background :#EC8757
}
.border1  .startbtniq{
  background :#EC8757
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
.dropdown1:hover{
  background-color: #086a8e;
  
}
  
.startbtne {
  position: absolute;
  bottom: 5%;
  left: 80%;
  width:15%;
  height: 10%;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  background-color: #0D83AE;
  color: #E5E5E5;
  border: #0D83AE;
  box-shadow: 4px 3px 8px 1px #E5E5E5;
  display: none;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.startbtniq {
  position: absolute;
  bottom: 5%;
  left: 80%;
  width:15%;
  height: 10%;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  background-color: #0D83AE;
  color: #E5E5E5;
  border: #0D83AE;
  box-shadow: 4px 3px 8px 1px #E5E5E5;
  display: none;
  cursor: pointer;
  transition: 1s ease-in-out;
}
/* .startbtn.active.startbtniq {
background-color :#EC8757;
} */
.startbtniq:hover{
  background-color: #086a8e}
.startbtntec {
  position: absolute;
  bottom: 5%;
  left: 80%;
  width:15%;
  height: 10%;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  background-color: #0D83AE;
  color: #E5E5E5;
  border: #0D83AE;
  cursor: pointer;
  box-shadow: 4px 3px 8px 1px #E5E5E5;
  display: none;
  transition: 1s ease-in-out;
}
.startbtn.active.startbtntec {
background-color :#EC8757;
}
  /* .startbtntec:hover{
    background-color: #086a8e} */

.fcircle1 {
  background-color: #023047;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(680px at right 580px);

}
.cir1.active .fcircle1{
background-color: var(--main-color4);
}
.scircle1 {
  background-color: #023047;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(700px at left 100px);

}

.fcircle2 {
  background-color: #98C1D9;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(649px at right 555px);

}
.cir1.active .scircle1{
background-color: var(--main-color4);
}
.cir1.active .scircle2{
background-color: var(--main-color4);
}
.scircle2 {
  background-color: #98C1D9;
  position: absolute;

  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(635px at left 100px);

}
.border1.active .fcircle2{
display:none;
}
.border1.active .scircle2{
display:none;
}

.englishtxt {
  width: 75%;
  position: absolute;
  top: 65%;
  left: 15%;
  text-align: center;
  font-size: 20px;
  color: #023047;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  display: none;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.txt1.active .englishtxt{
color :#E5E5E5
}
.girl{
  position: absolute;
  left: 70%;
  top: 10%;
  width: 28%;
  height: 40%;

  border-top-left-radius:75px;
  border-top-right-radius:75px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  animation: cssAnimation 0s 0.4s forwards;
  visibility: hidden;
}

.g1 :hover{
  box-shadow: 0px -10px 30px #ccc;
  color:white;
  font-size:50px;
}

.IQtxt {
  width: 75%;
  position: absolute;
  top: 65%;
  left: 15%;
  text-align: center;
  font-size: 20px;
  color: #023047;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  display: none;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.txt1.active .IQtxt{
color :#E5E5E5
}
.technicaltxt{
  width: 75%;
  position: absolute;
  top: 65%;
  left: 15%;
  text-align: center;
  font-size: 20px;
  color: #023047;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  display: none;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.txt1.active .technicaltxt{
color :#E5E5E5
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(19) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(20) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(21) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(22) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* ************************************responsive********************************************************* */
@media screen and (max-width:1241px){
.englishtxt {
    font-size: 15px;
top:67%;

}
.technicaltxt{
  font-size: 15px;
  top:67%;
}
.IQtxt {
  font-size: 15px;
  top:67%;
}

}
@media screen and (max-width:1087px){
  .dropdown1{
    width: 50%;
  }
}
@media screen and (max-width:1025px){
  .fcircle1{
    clip-path: none;
  }
  .scircle1{
    clip-path: none;
  }

  .dropdown1 {
    left: 20%;
    width:50%
  }
  .englishtxt {
    font-size: 15px;
top:67%;

}
.technicaltxt{
  font-size: 15px;
  top:67%;
}
.IQtxt {
  font-size: 15px;
  top:67%;
}

}
@media screen and (max-width:882px){
.wtxt {
  font-size: 20px;
}
}
@media screen and (max-width:769px){
.fcircle1{
  clip-path: none;
}
.scircle1{
  clip-path: none;
}
.englishtxt {
  font-size: 14px;


}
.technicaltxt{
font-size: 14px;

}
.IQtxt {
font-size: 14px;

}
.wtxt {
font-size: 20px;
}
#sun{
left: 90%;
}
#moon{
left: 90%;
}
.border1{
width: 80%;
}
.girl{width: 20%;
left:77%}
.startbtne{
top:88%;
}
.startbtniq{
top:88%;
}
.startbtntec{
top:88%;
}

}
@media screen and (max-width:781px){
.wtxt{
font-size: 18px;
}
.yourname{
font-size: 40px;
top:0;
}
}
@media screen and (max-width:625px){
.wtxt{
 width: 250px;
 top:80px;
}
}
@media screen and (max-width:625px){
.englishtxt {
  font-size: 10px;

}
.technicaltxt{
  font-size: 10px;
}
.IQtxt {
  font-size: 10px; 
}
.startbtne{
  height: 40px;
  top:90%;
  left: 65%;
  width: 30%;
  font-size: 80%;
}
.startbtniq{
  height: 40px;
  top:90%;
  left: 65%;
  width: 30%;
  font-size: 80%;
}
.startbtntec{
  height: 40px;
  top:90%;
  left: 65%;
  width: 30%;
  font-size: 80%;
}}
@media screen and (max-width:542px){
  .yourname{
    font-size: 30px;
  }
}
@media screen and (max-width:426px){
.fcircle1{
  clip-path: none;
}
.scircle1{
  clip-path: none;
}

.dropdown1 {
font-size: 25px;
width:60%;
}
.englishtxt {
font-size: 11px;


}
.technicaltxt{
font-size: 11px;

}
.IQtxt {
font-size: 11px;

}
.wtxt {
font-size: 15px;
width: 200px;
top:100px
}
#sun{
left: 85%;
}
#moon{
left: 85%;
}
.border1{
width: 75%;
}
.girl{
top:25%;
width: 20%;
height: 20%;}

.startbtne{
height: 40px;
top:90%;
left: 65%;
width: 30%;
font-size: 80%;
}
.startbtniq{
height: 40px;
top:90%;
left: 65%;
width: 30%;
font-size: 80%;
}
.startbtntec{
height: 40px;
top:90%;
left: 65%;
width: 30%;
font-size: 80%;
}

}
@media screen and (max-width:426px){
.fcircle1{
  clip-path: none;
}
.scircle1{
  clip-path: none;
}

.dropdown1 {
font-size: 22px;
width:66%;
}
.englishtxt {
font-size: 10px;


}
.technicaltxt{
font-size: 10px;

}
.IQtxt {
font-size: 10px;

}
.border1{
width: 70%;
}
.wtxt {
  font-size: 12px;
  width: 155px;
}
.yourname{
  font-size: 30px;
  top: 40px;
}
}
@media screen and (max-width:426px){
.border1{
left: 40px;
width: 80%;
}
.logo{width: 50px;}
.logo1{width: 50px;}

.englishtxt {
  font-size: 9px;


}
.technicaltxt{
  font-size: 9px;

}
.IQtxt {
  font-size: 9px;
 
}
.girl{
height: 80px;
}
}